/* Applies border-box styling to everything with zero padding and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* set the background color to hex tag #d9dcd6 */
body {
    background-color: #d9dcd6;
}
/* Adds padding, selects the font-family, sets the header background-color and text color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets h1 'Horiseon' text size and display type */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Changes the "seo" in Horiseon to a different color in order to differentiate */
header h1 .seo {
    color: #d9dcd6;
}

/* Adjusts formatting for the nav bar links */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Gets rid of bullet points */
header nav ul {
    list-style-type: none;
}
/* sets margin and display type for list items */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets color of hyperlinks on nav bar to white with no text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Setting attributes for the background-image in between the header and main sections */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets the website paragraph font-size */
p {
    font-size: 16px;
}

/* floats seo and social media marketing pictures to the left side of the section with a margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* floats online reputation management photo to the right side of the section with a margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Makes the main section share the screen with the aside section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Formats the aside section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benifit {
   
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The Search engine optimization tab */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
